.main-wrapper {
    display: flex;
    flex-direction: column;
}
.main-cards-block {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    flex-wrap: wrap;
}
.main-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px auto ;
    border: 1px solid black;
    border-radius: 15px;
}
.main-card img {
    width: 300px;
    height: 200px;
}
.main-title {
    font-size: 30px;
    text-align: center;
    margin: 30px 0px 0px 0px ;
}
.main-header {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}