html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 50px 20px 0px 20px; */
}

/* burger */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li {
    margin: 75px 0 -55px 0;
    color: #03A9F4;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
    width: 230px;
    text-indent: 56px;
    cursor: pointer;
}

#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #dddc92;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: absolute;
    margin: 0; padding: 0;
    width: 110px;
    height: 110px;
    background-color: #fff;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

/* main */

.main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1600px;
}
.main-cards-block {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    flex-wrap: wrap;
}
.main-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 20px auto ;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
}
.main-card img {
    width: 300px;
    height: 200px;
}
.main-title {
    font-size: 30px;
    text-align: center;
    margin: 30px 0px 0px 0px ;
}
.main-header {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

/* swither*/

.toggle_radio {
    display: inline-block;
    background: #555;
    overflow: hidden;
    padding: 0;
    border-radius: 50px;
    position: relative;
    top: 50px;
    right: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
  }
  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio] {
    display: none;
  }
  .toggle_radio label {
    z-index: 0;
    display: block;
    width: 70px;
    height: 100%;
    margin: 0;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
  }
  .toggle_option_slider{
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 50px;
    background: rgba(255,255,255,.3);
    transition: all .2s ease-in;
  }
  #first_toggle:checked ~ .toggle_option_slider{
    left: 0;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    left: 70px;
  } 

  /* train */

.train-wrapper {
    display: flex;
    flex-direction: column;
}
.cards-block {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    flex-wrap: wrap;
}
.flip-card{
    cursor: pointer;
    position: relative; 
    margin: auto 20px; 
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
}
.flip {
    transform: rotateY(180deg);  
}
.back,.face{
    text-align: center;
    width:300px;
    height:300px;
    border-radius: 15px;
    padding: 10px;
    margin: 20px auto ;
    backface-visibility: hidden;
}
.face{
    transform: rotateY(180deg);
}
.back{
    transform: rotateY(0deg);
    position: absolute;     
}
.face img {
    width: 100%;
}
.back img {
    width: 100%;
    height: 200px;
}
.title-block img{
    width: 40px;
    height: 100%;
}
.title-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flip-card-title-front, .flip-card-title-back {
    font-size: 30px;
} 
  /* play */

  .play-wrapper {
    display: flex;
    flex-direction: column;
}
.play-cards-block {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1600px;
    flex-wrap: wrap;
}
.play-card {
    width: 300px;
    height: 300px;
    padding: 20px;
}
.play-card img{
    width: 100%;
}
.play-button {
    width: 600px;
    height: 120px;
    background-color: green;
    border-radius: 25px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.play-button-revers {
    width: 120px;
    height: 120px;
    background-color: green;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}